
@{
    ViewBag.Title = "Page_Error_500";
    Layout = "~/Views/Shared/_layoutError.cshtml";
}

<div class="message-box">
    <h1>500</h1>
    <p>Sever Error</p>
    <div class="buttons-con">
        <div class="action-link-wrap">
            <a onclick="history.back(-1)" class="link-button link-back-button">Go Back</a>
            <a href="/" class="link-button">Go to Home Page</a>
        </div>
    </div>
</div>


