
@{
    ViewBag.Title = "ForgotPass";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<form class="login100-form validate-form" action="ForgotPass" method="post">
    @Html.AntiForgeryToken()
    <span class="login100-form-title p-b-26">
        Create a new Password
    </span>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-warning text-center">
            @ViewBag.Error
        </div>
    }
    @{
        if (Session["Account"] == null)
        {
            <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                <input class="input100" type="email" name="email">
                <span class="focus-input100" data-placeholder="Email"></span>
            </div>
        }
        else
        {
            var user = (WebAspFindGuide.Models.Site_Model.CustomAccount)Session["Account"];
            var avata = String.IsNullOrEmpty(user.Account_Avarta) ? "Avatar_user.png" : user.Account_Avarta;
            <div class="form-group text-center">
                <img style="width:100px;height:100px;" src="~/Assets/img/@avata" class="img-circle avatar_user" alt="user name">
                <br />
                <h3><strong>@user.Account_Name</strong></h3>
            </div>
        }
    }

    <div class="wrap-input100 validate-input" data-validate="Enter old Password ">
        <span class="btn-show-pass">
            <i class="fas fa-eye-slash"></i>
        </span>
        <input class="input100" type="password" name="oldpass" id="myoldPass">
        <span class="focus-input100" data-placeholder="Old Password"></span>
    </div>
    <div class="form-group">
        <input class="mycheckbox" type="checkbox" name="remember" /> I don't remember the password
    </div>
    <div class="wrap-input100 validate-input" data-validate="Minimum 8 characters,letter,number .Ex:pass1234">
        <span class="btn-show-pass">
            <i class="fas fa-eye-slash"></i>
        </span>
        <input class="input100 myPass" type="password" name="newpass" id="myPass">
        <span class="focus-input100" data-placeholder="new Password"></span>
    </div>
    <div class="">
        <div class="pwstrength_viewport_progress"></div>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Enter Confirm new password">
        <span class="btn-show-pass">
            <i class="fas fa-eye-slash"></i>
        </span>
        <input class="input100" type="password" id="passconfig" name="passconfig">
        <span class="focus-input100" data-placeholder="Confirm new Password"></span>
    </div>

    <div class="container-login100-form-btn p-b-26">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
                Update
            </button>
        </div>
    </div>

    <div class="text-center">
        <span class="txt1">
            Don’t have an account?
        </span>

        <a class="txt2" href="/Account/LogIn">
            Log In
        </a>
    </div>
    <div class="text-center">

        <a class="txt2" href="/Account/UnLockAccount">
            Or  Unlock Account .
        </a>
    </div>
</form>
@section jsAccount{
    <script src="/Assets/js/intlTelInput-jquery.js"></script>
    <script src="~/Assets/js/plugins/pwstrength-bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {

            var options = {};
            options.ui = {
                container: "#pwd-container",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            };
            options.common = {
                debug: true,
                usernameField: "#name"
            };
            $('.myPass').pwstrength(options);

        });

    </script>


    <!--===============================================================================================-->
    <script>

        (function ($) {
            "use strict";
            /*==================================================================
            [ Focus input ]*/
            $('.input100').each(function () {

                $(this).focus();

                $(this).on('blur', function () {
                    if ($(this).val().trim() != "") {
                        $(this).addClass('has-val');
                    }
                    else {
                        $(this).removeClass('has-val');
                    }
                })
            })
            $('.input100')[0].focus();

            /*==================================================================
            [ Validate ]*/
            var input = $('.validate-input .input100');

            $('.validate-form').on('submit', function () {
                var check = true;

                for (var i = 0; i < input.length; i++) {
                    if (validate(input[i]) == false) {
                        showValidate(input[i]);
                        check = false;
                    }
                }
                if ($("#myPass").val().trim() != $("#passconfig").val().trim()) {
                    $("#passconfig").parent().addClass('alert-validate');
                    check = false;
                }
                return check;
            });


            $('.validate-form .input100').each(function () {
                $(this).focus(function () {
                    hideValidate(this);
                });
                $(this).val("");
            });
            $(".mycheckbox").change(function () {
                if ($(this).is(':checked')) {
                    $("#myoldPass").attr('disabled', 'disabled');
                    $("#myoldPass").parent().removeClass('alert-validate');
                }
                else {
                    $("#myoldPass").removeAttr('disabled');
                }

            })
            function validate(input) {
                if ($(".mycheckbox").is(':checked') && $(input).attr('name') == "oldpass") {

                    return true;
                }

                if ($(input).val().trim() == '') {
                    return false;
                }
                else {
                    if ($(input).attr('name') == 'newpass') {
                        if ($(input).val().trim().match(/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/) == null) {
                            return false;
                        }
                    }
                }
            }

            function showValidate(input) {
                var thisAlert = $(input).parent();

                $(thisAlert).addClass('alert-validate');
            }

            function hideValidate(input) {
                var thisAlert = $(input).parent();

                $(thisAlert).removeClass('alert-validate');
            }

            /*==================================================================
            [ Show pass ]*/

            var showPass = 0;
            $('.btn-show-pass').on('click', function () {
                if (showPass == 0) {
                    $(this).next('input').attr('type', 'text');
                    $(this).find('i').removeClass('fa-eye-slash');
                    $(this).find('i').addClass('fa-eye');
                    showPass = 1;
                }
                else {
                    $(this).next('input').attr('type', 'password');
                    $(this).find('i').addClass('fa-eye-slash');
                    $(this).find('i').removeClass('fa-eye');
                    showPass = 0;
                }

            });


        })(jQuery);
    </script>
}
